---
title: Welcome to Boon.gl
---

<div class="welcome">
  <h1>Boon.gl</h1>
  <p>
    Hi, I'm Robert Fletcher. I build software, mostly web apps and open source
    tools. Have a look at some of the things I contribute to below, and feel
    free to drop me an <%= link_to 'email', 'mailto:robert@boon.gl', title: 'email' %>.
  </p>
  <ul>
    <li>I'm an organizer of the <%= link_to 'East Bay Ruby Meetup', 'https://luma.com/calendar/manage/cal-IKHcf4hWUnQRhMx', title: 'East Bay Ruby Meetup' %>.</li>
    <li>Here's my <%= link_to 'Blog', 'https://blog.boon.gl', title: 'Blog' %>.</li>
    <li>I built a super fast flash card tool, <%= link_to 'Flash', 'https://flash.boon.gl', title: 'Flash' %>.</li>
    <li>I'm working on a tool write tests for your codebase called <%= link_to 'Buttress', 'https://github.com/mockdeep/buttress', title: 'Buttress' %>.</li>
    <li><%= link_to 'Notice', 'https://notice.zone', title: 'Notice' %> is a site that helps you keep track of things you care about.</li>
    <li>I'm the maintainer of <%= link_to 'Stringer', 'https://github.com/stringer-rss/stringer', title: 'Stringer' %>, a self-hosted RSS reader.</li>
    <li>I'm a co-maintainer of <%= link_to 'RMagick', 'https://github.com/rmagick/rmagick', title: 'RMagick' %>.</li>
    <li>And I've got many more projects on <%= link_to 'GitHub', 'https://github.com/mockdeep', title: 'GitHub' %>.</li>
  </ul>
</div>
