---
title: Welcome to Boon.gl
---

<div class="welcome">
  <h1>Boon.gl</h1>
  <p>
    Hi, I'm Robert Fletcher. I build software, mostly web apps and open source
    tools. Have a look at my projects below, or find me on GitHub.
  </p>
  <h2>Sites:</h2>
  <ul>
    <li><%= link_to 'Blog', 'https://blog.boon.gl', title: 'Blog' %></li>
    <li><%= link_to 'Flash', 'https://flash.boon.gl', title: 'Flash' %></li>
    <li><%= link_to 'Notice', 'https://notice.zone', title: 'Notice' %></li>
    <li><%= link_to 'Stringer', 'https://github.com/stringer-rss/stringer', title: 'Stringer' %></li>
    <li><%= link_to 'RMagick', 'https://github.com/rmagick/rmagick', title: 'RMagick' %></li>
  </ul>

  <h2>Elsewhere:</h2>
  <ul class='icons'>
    <li>
      <a href='https://github.com/mockdeep' title='GitHub'><%= partial 'partials/icon_github' %></a>
    </li>
    <li>
      <a href='mailto:robert@boon.gl' title='email'><%= partial 'partials/icon_mail' %></a>
    </li>
  </ul>
</div>
