---
title: Welcome to Boon.gl
---

<div class="welcome">
  <h1>Boon.gl</h1>
  <p>
    You've reached the website of Robert Fletcher. Not much to see here just
    yet, but you can check out my projects below, as well as seeing what I'm up
    to on Github.
  </p>
  <h2>Sites:</h2>
  <ul>
    <li><%= link_to 'blog.boon.gl', 'http://blog.boon.gl' %></li>
    <li><%= link_to 'questlog.boon.gl', 'http://questlog.boon.gl' %></li>
    <li><%= link_to 'better.boon.gl', 'http://better.boon.gl' %></li>
    <li><%= link_to 'track.boon.gl', 'http://track.boon.gl' %></li>
  </ul>

  <h2>Elsewhere:</h2>
  <ul>
    <li><%= link_to 'Github', 'https://github.com/mockdeep' %></li>
    <li><%= link_to 'Email', 'mailto:lobatifricha@gmail.com' %></li>
  </ul>
</div>
